# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# DevOps
target/
**/logs/**
**/__pycache__/**
.vscode/settings.json
vault_password.txt
terraform/.terraform*
terraform/terraform.tfstate*